{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About The Project</h1>
</div>
<p class="lead">This is the demo for the introduction to Blockchain as a topic proposal of group "Something" (sorry mates, i forgot the name).</p>
<p>Our group has 4 members, with:
  <ol>
    <li><b>Leader: To Duc Anh </b></li>
    <li><i> Le Tien Bang</i></li>
    <li><i> Nguyen Minh Hue</i></li>
    <li><i> Nguyen Thuy Linh</i></li>
  </ol>
</p>
<p>Before this demo, we probably tell you guys about the "Blockchain" already.</p>
<p>So lets get into the demo. This demo is how a convenience store or a convenience chain can be managed without supervison with the help of Blockchain.</p>


{% endblock %}
